.header {
	padding: 20px 0;
	background-color: #404040;

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.logo {
	width: 100px;
	height: 100px;

	border-radius: 20px;
	overflow: hidden;
}
