// Fonts
$font-main: 'Raleway', sans-serif;
$font-size: 16px;
$line-height: 1.2;

// Colors
$color-bg-tertiary: #2f2f32;
$color-white: #fff;

// Media
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;
